.taskAddPanel {

  .noNameError {
    outline: 1px solid red;
  }

  .panelAdd {

    input {
      margin-top: 10px;
      width: 100%;
    }

    .iconClose {
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
}
