.boardList {

  .card {
    height: 80px;
    text-align: center;
    padding: 10px;
    color: black;

    h1 {
      margin: 0;
    }

    &:hover {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
    }
  }
}
