.BoardAddPanel {
  .panelHeader {
    cursor: pointer;
  }

  .panelBody {
    animation: visiblePanelBody 1s;
  }

  .iconRotate {
    transform: rotate(45deg);
  }

  .noNameError {
    outline: 1px solid red;
  }
}

@keyframes visiblePanelBody {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

