.task {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
  user-select: none;

  &.done {
    text-decoration: line-through;
    background: #ccc;
  }

  &.doing {
    background: #28a745;
  }

  h6 {
    margin: 0;
  }
}
