.header {
  display: flex;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  position: relative;
  text-align: center;

  span {
    font-weight: bold;
    font-size: x-large;
  }

  .iconClose {
    position: absolute;
    transform: rotate(45deg);
    cursor: pointer;
    right: 0;
  }
}
